h1,
h2,
h3,
h4,
p {
    font-family: 'jost';
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #424242;
    /* grey 800 sur material design */
    text-shadow: 0 0 0 transparent;
    transition: text-shadow 0.6s;
}

a:hover {
    text-shadow: 0 0 10px #000000;
}

#landscape {
    display: none;
}

h1,
p,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

header,
section {
    width: 100%;
}

header {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 span {
    color: #4DB6AC;
}

header h2 {
    position: relative;
}

header h2:before {
    content: ' ';
    display: block;
    background-color: #4DB6AC;
    width: 60px;
    height: 2px;
    position: absolute;
    top: 100%;
}

section:nth-of-type(1) {
    padding: 20px;
    background-color: #4DB6AC;
}

section:nth-of-type(1) div:nth-of-type(1) {
    display: flex;
    justify-content: center;
}

section:nth-of-type(1) h3 {
    background-color: #616161;
    color: #4DB6AC;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px -20px 30px;
}

section:nth-of-type(1) h3:nth-of-type(1)~p:nth-of-type(2n+1) {
    font-weight: bold;
    padding-top: 10px;
}

section:nth-of-type(1) h3:nth-of-type(1)~p:nth-of-type(2n) {
    padding-left: 10px;
    margin-top: 4px;
}

section:nth-of-type(1) h3:nth-of-type(2)~p {
    text-align: justify;
    padding: 0 !important;
    font-weight: initial !important;
}

section:nth-of-type(1) h3:nth-of-type(3)~div {
    display: flex;
    justify-content: space-around;
}

section:nth-of-type(1) h3:nth-of-type(3)~div i {
    font-size: 2em;
    text-align: center;
    color: #616161;
    padding-bottom: 20px;
}

section:nth-of-type(1) p {
    margin-top: 10px;
}


/* SECTION INFOS */

.job {
    margin-top: 20px;
}

.job h4::before {
    content: "\f192";
    font-family: 'Font Awesome 5 Free';
    color: #4DB6AC;
    margin-right: 5px;
    font-weight: normal;
}

.infos p:nth-of-type(1) {
    padding: 20px 0 5px;
    text-transform: uppercase;
}

section:nth-of-type(2) {
    text-align: center;
    padding: 0 10px 10px 10px
}

section:nth-of-type(2) i {
    color: #4DB6AC;
    padding-right: 6px;
}

section:nth-of-type(2) h2 {
    border-bottom: solid 2px #4DB6AC;
    margin-top: 45px;
    text-transform: uppercase;
    width: 100%;
}

section:nth-of-type(2) .description p:nth-of-type(1) {
    text-transform: uppercase;
}

section:nth-of-type(2) .description p:nth-of-type(2) {
    padding: 5px 0 15px;
}

section:nth-of-type(2) .recommandations p:nth-of-type(1) {
    text-transform: uppercase;
    padding: 20px 0 0;
}

section:nth-of-type(2) .recommandations p:nth-of-type(2) {
    padding: 5px 0 5px;
}

section:nth-of-type(2) h4 {
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }
    header {
        width: 60%;
        margin: 115px 0 20px;
        padding-left: 30px;
        align-items: flex-start;
    }
    section:nth-of-type(1) {
        width: 40%;
        position: absolute;
        left: 0;
    }
    section:nth-of-type(1) div:nth-of-type(1) {
        padding: 65px 0 10px;
    }
    section:nth-of-type(1) h3 {
        margin-top: 70px;
    }
    section:nth-of-type(1) h3:nth-of-type(3) {
        margin-top: 1500px;
        /*et ajout en version desktop à 750px*/
    }
    section:nth-of-type(2) {
        width: 60%;
        text-align: left;
        padding-left: 30px;
    }
    section:nth-of-type(2) h4 {
        margin-top: 30px;
    }
    .infos {
        justify-content: left;
        text-align: left;
    }
    .infos p:nth-of-type(2) {
        margin-left: 0;
    }
}

@media screen and (orientation: landscape) and (max-width: 813px) {
    header,
    section {
        display: none;
    }
    #landscape {
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #4DB6AC;
        padding: 30px;
    }
    #landscape i {
        color: #80CBC4;
        text-align: center;
        font-size: 12em;
        z-index: 1;
        position: absolute;
    }
    #landscape p {
        z-index: 2;
    }
    p:nth-of-type(1) {
        margin-bottom: 35px;
        font-size: 1.8em;
    }
    p:nth-of-type(2) {
        font-size: 1.2em;
    }
    span {
        font-weight: bold;
    }
}

@media screen and (min-width: 1024px) {
    body {
        max-width: 1185px;
        margin: 0 auto;
        font-size: 20px;
        box-shadow: 5px 10px 10px #424242;
    }
    p {
        font-size: 0.8em;
    }
    header {
        width: 70%;
        padding-left: 65px;
    }
    h1 {
        font-size: 2em;
    }
    header h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1em;
    }
    section:nth-of-type(1) {
        width: 30%;
    }
    section:nth-of-type(1) h3:nth-of-type(3) {
        margin-top: 770px;
    }
    .job::before {
        display: none;
    }
    .infos p:nth-of-type(1)::before {
        display: none;
    }
    .job p:nth-of-type(1)::before {
        content: "\f192";
        font-family: 'Font Awesome 5 Free';
        margin-right: 5px;
        color: #4DB6AC;
    }
    .job h4::before {
        display: none;
    }
    section:nth-of-type(2) {
        width: 70%;
        padding-left: 60px;
    }
    section:nth-of-type(2) h2 {
        font-size: 1em;
    }
    section:nth-of-type(2) i {
        font-size: 1.2em;
        margin-right: 15px;
    }
    section:nth-of-type(2) h4 {
        font-size: 0.8em;
    }
    .infos,
    h4 {
        margin-left: 200px;
    }
    .infos {
        margin-top: -70px;
    }
    .job p:nth-of-type(1) {
        margin-top: -45px;
    }
    .job p:nth-of-type(2) {
        margin-left: 20px;
    }
    .infos p:nth-of-type(1) {
        margin: 45px 0 15px;
    }
    .infos p:nth-of-type(2) {
        margin-left: 0;
    }
    .conteneur_recommandations {
        display: flex;
    }
    .recommandations {
        margin-right: 100px;
    }
}


/* @media print {
    @page {
        margin: 3cm 2cm 3cm 2cm;
    }
    body {
        width: auto !important;
        margin: auto;
        font-family: serif;
        background-color: none;
    }
    p {
        orphans: 3;
        widows: 3 !important;
        font-size: 12pt;
    }
    a {
        color: #000!important;
    }
    a[href]:after {
        content: "(" attr(href) ")";
    }
    h1 {
        font-size: 30pt;
        margin-top: -20pt;
    }
    section:nth-of-type(1) h3 {
        text-decoration: underline;
        font-size: 18pt;
    }
    section:nth-of-type(1) h3:nth-of-type(3)~div {
        margin-bottom: 15cm;
    }
    section:nth-of-type(2) h2:nth-of-type(2) {
        page-break-before: always;
    }
    .conteneur {
        display: flex;
        flex-wrap: wrap;
        text-align: left !important;
    }
    .infos {
        width: 5cm !important;
        margin-right: 1cm;
    }
    #conteneur_recommandations {
        display: flex;
        justify-content: space-around;
    }
} */