#bloc_page {
    width: 1185px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}

#nom {
    line-height: 10px;
    margin-top: 100px;
    padding-left: 65px;
}

#colonne_droite {
    width: 800px;
}

#prenom {
    font-size: 2.7rem;
}

#prenom span {
    color: #F9A825;
}

#metier span {
    text-decoration-line: underline;
    text-decoration-color: #F9A825;
    /* yellow 800 sur material design */
}

#metier {
    font-size: 1.6rem;
}


/* colonne formation, exppro, reco */

#colonne_fer {
    margin-top: 100px;
}

#titre_formation i {
    font-size: 1.8rem;
}

header {
    margin-left: 65px;
    border-bottom: solid 2px #F9A825;
}

#conteneur_formation {
    display: flex;
    flex-flow: wrap-reverse column;
    padding-left: 65px;
    margin-top: 30px;
}

i {
    margin-right: 15px;
    color: #F9A825;
    font-size: 0.9rem;
}

.date_ville {
    margin-top: 10px;
    display: flex;
    align-self: flex-end;
    align-items: center;
    max-width: 200px;
}

.description {
    margin-top: -70px;
    text-align: left;
    max-width: 450px;
}

#conteneur_xp {
    display: flex;
    flex-flow: wrap-reverse column;
    padding-left: 65px;
    margin-top: 30px;
}

#xppro {
    margin-top: 80px;
}

#xppro i {
    font-size: 1.8rem;
}

.date_villexp {
    margin-top: 30px;
    display: flex;
    align-self: flex-end;
    align-items: center;
    max-width: 200px;
}

#recommandations {
    margin-top: 80px;
}

#conteneur_recommandations {
    display: flex;
    justify-content: space-between;
    padding-left: 65px;
    margin-top: 30px;
}

#recommandations i {
    font-size: 1.8rem;
}


/* colonne gauche */

#colonne_gauche {
    width: 375px;
    background-color: #F9A825;
}

#aside_photo {
    display: flex;
    justify-content: center;
}

#aside p {
    text-align: justify;
    max-width: 305px;
    padding-left: 35px;
}

h3 {
    color: #F9A825;
    background-color: #424242;
    /* grey 800 sur material design*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 30px;
}

.apropos p {
    line-height: 1.3rem;
}

.apropos,
.loisirs {
    margin-top: 80px;
}

.loisirs i {
    font-size: 3rem;
    color: #424242;
}